# .DS_Store
.DS_Store
**/.DS_Store

# zsh
zsh/.zsh_history
zsh/.zsh_sessions
.zcompdump*

# Others
configstore/
yarn/
fish/
node_modules/
simple-update-notifier/
startup.log
plugged/
zed/

# Spotify TUI
spotify-tui/

# GitHub CLI
gh/

# GitHub Copilot
github-copilot/

# Raycast
raycast/

# Flutter
flutter/

# bat
bat/

# wireshark
wireshark/

# Google Cloud
gcloud/

# qt
QtProject/

# Alacritty
**/**/alacritty.yml.*.bak

# Kitty
**/**/kitty.conf.bak

# Medusa
medusa/

# spaceship
**.zwc

# iTerm2
Bury

# creds
.credentials*

# Gatsby
gatsby/

# mail
.mailrc*
!.mailrc.example
**/*/.git-email

# lazygit
lazygit/state.yml

# android
.android/

# cloudflare wrangler
.wrangler/

# nodemon
nodemon.json

# tmux
tmux-client-*.log

# emacs
emacs/

# swiftpm
swiftpm/

# nuxt
.nuxt/

# mkcert
certs
caddy
