plugged/

# .DS_Store
.DS_Store
**/.DS_Store

# zsh
zsh/.zsh_history
zsh/.zsh_sessions
.zcompdump*

# Others
configstore/
yarn/
fish/
node_modules

# Spotify TUI
spotify-tui/

# GitHub CLI
gh/

# GitHub Copilot
github-copilot/

# Raycast
raycast/
