set smtp-use-starttls
set smtp=smtp://smtp.gmail.com:587
set smtp-auth=login
# Change 'xxxxxx' with your username
set smtp-auth-user=xxxxxx@gmail.com
# Change 'xxxxxxxxxxxx' with your password
set smtp-auth-password=xxxxxxxxxxxx
# Change 'xxxxxxxx' with the name of your Firefox's profile,
# it is located in the ~/.mozilla/firefox/ directory.
set nss-config-dir=~/.mozilla/firefox/xxxxxxxx.default
set ssl-verify=ignore
